# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
Raghava_ece-5831-2025/

# Data files (avoid uploading large PDFs)
data/pdfs/
*.pdf

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Mac / Linux temp files
*.swp